
body {
	background-color: #000;
	margin: 0px;
	padding: 0;
	min-width: 980px;
}



/* introduction copy */

/* lolcats */
#lolcats_text_1 {
	background:url('images/lolcats_text_1.png') 50% 0 no-repeat fixed;
}

#lolcats_text_2 {
	background:url('images/lolcats_text_2.png') 50% 0 no-repeat fixed;
}

#lolcats_text_3 {
	background:url('images/lolcats_text_3.png') 50% 0 no-repeat fixed;
}

#lolcats_text_4 {
	background:url('images/lolcats_text_4.png') 50% 0 no-repeat fixed;
}

#lolcats_text_holder {
	width: 446px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.lolcats_text {
	/* position: absolute; */
	width: 446px;
	height: 125px;
}

