
body {
	background-color: #000;
	margin: 0px;
	padding: 0;
	min-width: 980px;
}



/* introduction copy */

/* lolcats */
#lolcats-1, #lolcats-2 {
	top: 259px;
	width: 446px;
	height: 125px;
	margin-top: 300px;
}

#lolcats_text_holder {
	width: 446px;
	display: block;
	margin: auto;
}

